.location {
    background-color: transparent;
    box-shadow: 1px 1px 1px 2px;
    padding: 1em 1.5em;
    margin: 2.5em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    flex-wrap: wrap;
    min-width: 200px;
}



.location__name {
    font-size: 2.5em;
    text-align: center;
    color: #01B1CA;
    filter: brightness(1.1);
}

.location__list {
    display: flex;
    gap: 1em;
    text-transform: capitalize;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;


}

.location__item {
    display: grid;
    font-size: 1.3em;
    gap: 0.3em;
    text-align: center;
    font-weight: 200;

}

.location__label {
        
    font-weight: 800;
    color: #fdfdfd;
}

.location ul>li {
    font-weight: 600;
    color: #0aecfc;
}