@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

.App {
    padding: 2em 1.5em;
    color: white;
}


.header__title {
    width: 100%;
    background-image: url("https://media.cdn.adultswim.com/uploads/20210428/21428161947-rick-and-morty-logo-png.png");    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    min-width: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    max-width: 1400px;
    margin: 0 auto;
    
}

.form__input {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 1em 1em;
    border-radius: 10px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #fff9;
    transition: .3s;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

.form__input:focus {
    box-shadow: 0 0 0 2px #01B1CA;
}

.form__button {
    width: 100%;
    max-width: 300px;
    height: 100%;
    padding: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    background-color: #01B1CA99;
    transition: .3s;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.form__button:hover {
    background-color: #01B1CA;
    box-shadow: 0 0 0 2px #ffffff;
}

.form__button:active {
    background-color: #01B1CA;
    box-shadow: 0 0 0 2px #ffffff;
}



.app__error {
    text-align: center;
    line-height: 1.8;
    font-weight: 400;
}

.residents__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    gap: 1.5em;
    max-width: 1400px;
    margin: 0 auto;
}

.img__error {
    background-image: url("Rick and Morthy gif.gif");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
}

.app__error {
    text-align: center;
    line-height: 1.8;
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 2em;
    font-family: 'Tilt Prism', cursive;


    
}